<%= form_tag('/users', method: :post) do %>
    <%= label_tag 'username', 'Username:' %>
    <%= text_field_tag 'username' %><br />
    <%= label_tag 'email', 'Email:' %>
    <%= email_field_tag 'email' %><br />
    <%= label_tag 'password', 'Password:' %>
    <%= password_field_tag 'password' %><br />
    <%= submit_tag "Create new user" %>
<% end %>

<!--
<form method="POST" action="/users" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="user[username]" /><br />
    <label for="email">Email:</label>
    <input type="email" name="user[email]" id="user[email]" /><br />
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="user[password]" /><br />
    <input type="submit" value="Create new user">
</form>
-->